body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(237,237,238);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.navbar > li {
  display: flex;
  align-items: center;

  
}

.logo{
    height: 70px;
}
.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
  }
  
  .button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

.mainButton {
    background-color: #1bb76e;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
  }
  
  .mainButton:hover {
    cursor: pointer;
    box-shadow: 1px 1px green;
    transform: scale(1.1);
  }
  .secondaryButton {
    background-color: #2ac8f8;
    color: white;
  }
  
  .secondaryButton:hover{
    box-shadow: 1px 1px #2ac8f8
  }

.buscar{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;

}

.buscar:focus-within{
    border: 1px solid blue
}

.buscar > input{
    outline: none;
    border: 0px;
}

.iconoBusqueda:hover{
  color: blue;

}

.contenedorImagen{
  width: 240px;
  height: 350px;
  display: flex;
}

.contenedorImagen > img{
 
  object-fit: contain;
  width: 100%;
}

.breedCardContainer {
  display: flex;

}
.breedCard{
margin: 10 px;
}